html, body {
    height: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    min-width: 400px;
    overflow: hidden;
}

body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    align-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    font: 14px;
    color: #222;
    width: 100%;
    height: 68px;
    padding: 6px;
}

a {
    margin-left: 15px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #222;
}



.logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100%- 560px);
    width: 100%;
    min-height: 192px;
    max-height: 290px;
}

.logo-container {
    margin-top: auto;
}

.logo {
    object-position: center bottom;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 160px;
    width: 100%;
}

/* search */
.search-form {
    position: relative;
    width: 550px;
    height: 40px;
}

.search-wrapper {
    margin: 2px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

/* search bar */
.search-input {
    background-color: transparent;
    border-style: hidden;
    border-radius: 40px;
    width: 85%;
    min-height: 40px;
    font-size: 16px;
}

.search-wrapper:hover {
    border-style: hidden;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.1s ease;
}

.search-input:focus {
    outline: none;
}

/* buttons */
.button-container {
    position: absolute;
    width: 100%;
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    pad: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    border-color: #dfe1e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    transition: all 0.1s ease;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.footer-geo {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
    background-color: #f2f2f2;
    font-size: 15px;
    color: #222;
}

.policy-links {
    color: rgba(0,0,0,.54);
    padding: 15px;
}

.legal-links {
    color: rgba(0,0,0,.54);
    padding: 15px;
}