<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <!-- main -->
        <div class="wrapper">
            <!-- logo -->
            <div class="logo-wrapper">
                <div class="logo-container">
                    <img class="logo" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google">
                </div>
            </div>
            <!-- search -->
            <div class="search-wrapper">
                <form class="search-form">
                    <input class="search-input" type="search" autocomplete="off" autocapitalize="off" aria-autocomplete="both">
                </form>
            </div>  
        </div>
        <script src="" async defer></script>
    </body>
</html>